header
	h1!=title
	h2!=description
	p Работаю в #[a(href='https://emply.ru') Emply!]
	p Живу во Владивостоке. Молод, общителен, целеустремлён.
main
	p
		a(href='tel://+79247322736') +7 924 732-27-36
		=' | '
		a(href='mailto:mail@grawl.ru') mail@grawl.ru
	hr
	ul.list-inline
		each link in links
			li.list-inline-item
				a(href='//'+link.uri target='_blank')=link.title